body {
    background-color: blueviolet;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.container{
    width: 360px;
    background-color: white;
    margin:auto;
    padding: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
}

.form-field {
    margin: 10px 0 10px 0;
    padding: 15px;
    font-size: 16px;
    border: 10;
  }

  button {
    background: #e04646;
    color: white;
    cursor: pointer;
  }